@import url(./__link/feynman__link.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__title/feynman__title.css);

.feynman {
  padding-top: 100px;
  min-height: 890px;
  background-image: url(../../images/feynman.png);
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
