@import url(./__cell/table__cell.css);
@import url(./_theme_dark/table__cell_theme_dark.css);
@import url(./__heading/table__heading.css);
@import url(./_theme_dark/table__heading_theme_dark.css);
@import url(./__text/table__text.css);
@import url(./_theme_dark/table_theme_dark.css);

.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
